<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potter - Deportes</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tektur&display=swap" rel="stylesheet">
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>
</head>
<header>
    <img src="/images/logo.png" alt="logo" class="logo-pricing">
    <nav>
        <ul>
          <li><a href="/inicio">Inicio</a></li>
          <li><a href="/peliculas">Películas</a></li>
          <li><a href="/series">Series</a></li>
          <li><a href="/deportes" class="active">Deportes</a></li>
          <li><a href="/perfil">Cuenta</a></li>
          <!-- Add more navigation items as needed -->
        </ul>
      </nav>
</header>
<body>
    <div class="container" style="margin-left: 20px;">
        <p>Los mejores del mundo</p>
      <div class="swiper-container" >
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="/sports/messi"><img src="https://assets.laliga.com/assets/2020/01/08/large/2b665f394b06223726img_7644.jpeg" style="height: 165px;width: 18em;" alt=""></a>
          </div>
          <div class="swiper-slide">
            <img src="https://imgresizer.eurosport.com/unsafe/1200x0/filters:format(jpeg)/origin-imgresizer.eurosport.com/2017/04/13/2062284-43241167-2560-1440.jpg" style="height: 165px;width: 18em;" alt="">
          </div>
          <div class="swiper-slide">
            <a href="/sports/colombia"><img src="https://elcomercio.pe/resizer/e0MCcPgLOvP6Dq2T63TzlZYOPZ4=/980x528/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/TBTGHQ2JERA6TN6VMQXT2PNQJQ.webp" style="height: 165px;width: 18em;" alt=""></a>
          </div>
          <div class="swiper-slide">
            <img src="https://pbs.twimg.com/media/Fsbf5eEWAAAnNOV.jpg:large" style="height: 165px;width: 18em;" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://fotografias.lasexta.com/clipping/cmsimages01/2023/07/15/3C5810FF-0050-44E4-923B-6EC44DBE9F32/carlos-alcaraz_98.jpg?crop=3896,2192,x0,y0&width=1900&height=1069&optimize=low&format=webply" style="height: 165px;width: 18em;" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://cdn2.mediotiempo.com/uploads/media/2022/12/25/luka-doncic-imparable-cuadro-angeles.jpg" style="height: 165px;width: 18em;" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://tmssl.akamaized.net/images/foto/galerie/kylian-mbappe-psg-2023-1677479173-102635.jpg?lm=1677479183" style="height: 165px;width: 18em;" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://media.bleacherreport.com/image/upload/c_fill,g_faces,w_3800,h_2000,q_95/v1680261444/hxnkdtyqfdq9ghpl3bca.jpg" style="height: 165px;width: 18em;" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://i.marqueur.com/habsetlnh/large_original/295189.jpg" style="height: 165px;width: 18em;" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2023/07/29/16906252696818.jpg" style="height: 165px;width: 18em;" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://www.sportsnet.ca/wp-content/uploads/2021/02/Kawhi-Leonard-vs.-Grizzlies.jpg" style="height: 165px;width: 18em;" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt754ce6f5c70880f8/6410d978b1253f15447c8def/Haaland_Manchester_City_Lipsia.jpg?auto=webp&format=pjpg&width=3840&quality=60"style="height: 165px;width: 18em;" alt="">
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
    </div>   
    <div class="container">
        <p>Lo mejor de la liga Betplay</p>
      <div class="swiper-container" >
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="/sports/dim"><img src="https://files.alerta.rcnradio.com/alerta_paisa/public/2020-10/e628d2e2-a853-45c4-9232-d2a8d3e80e48.jpg" alt=""></a>
          </div>
          <div class="swiper-slide">
            <img src="https://w0.peakpx.com/wallpaper/173/257/HD-wallpaper-atletico-nacional-colombian-emblem-flag-football-logo.jpg" alt="" style="height: 165px;width: 18em;">
          </div>
          <div class="swiper-slide">
            <img src="https://w0.peakpx.com/wallpaper/775/660/HD-wallpaper-envigado-fc-logo-colombian-football-club-silk-texture-orange-green-flag-categoria-primera-a-envigido-colombia-football-liga-aguila.jpg" style="height: 165px;width: 18em;" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://w0.peakpx.com/wallpaper/744/288/HD-wallpaper-deportes-tolima-logo-colombian-football-club-silk-texture-red-yellow-flag-categoria-primera-a-ibague-colombia-football-liga-aguila.jpg" style="height: 165px;width: 18em;" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://w0.peakpx.com/wallpaper/0/62/HD-wallpaper-atletico-junior-club-colombia-flag-football-logo.jpg" style="height: 165px;width: 18em;" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://w0.peakpx.com/wallpaper/958/737/HD-wallpaper-jaguares-de-cordoba-logo-colombian-football-club-silk-texture-yellow-blue-flag-categoria-primera-a-monteria-colombia-football-liga-aguila.jpg" style="height: 165px;width: 18em;" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://w0.peakpx.com/wallpaper/974/709/HD-wallpaper-deportivo-cali-logo-colombian-football-club-silk-texture-green-flag-categoria-primera-a-cali-colombia-football-liga-aguila.jpg" style="height: 165px;width: 18em;" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://w0.peakpx.com/wallpaper/602/529/HD-wallpaper-millonarios-fc-club-colombia-emblem-flag-logo-soccer.jpg" style="height: 165px;width: 18em;" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://w0.peakpx.com/wallpaper/488/991/HD-wallpaper-alianza-petrolera-fc-logo-colombian-football-club-silk-texture-yellow-black-flag-categoria-primera-a-barrancabermeja-colombia-football-liga-aguila.jpg" style="height: 165px;width: 18em;" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://w0.peakpx.com/wallpaper/590/154/HD-wallpaper-club-deportivo-la-equidad-logo-colombian-football-club-silk-texture-green-flag-categoria-primera-a-bogota-colombia-football-liga-aguila.jpg" style="height: 165px;width: 18em;" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://w0.peakpx.com/wallpaper/829/238/HD-wallpaper-boyaca-chico-fc-logo-colombian-football-club-silk-texture-white-blue-flag-categoria-primera-a-tunja-colombia-football-liga-aguila.jpg" style="height: 165px;width: 18em;" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://w0.peakpx.com/wallpaper/70/307/HD-wallpaper-deportivo-pasto-logo-colombian-football-club-silk-texture-red-blue-flag-categoria-primera-a-pasto-colombia-football-liga-aguila.jpg" style="height: 165px;width: 18em;" alt="">
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
    </div>    
    <div class="container">
      <p>Best of the NBA</p>
    <div class="swiper-container" >
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="/sports/lakers"><img src="https://c4.wallpaperflare.com/wallpaper/363/133/198/basketball-los-angeles-lakers-logo-los-angeles-lakers-wallpaper-preview.jpg" style="height: 165px;width: 18em;" alt=""></a>
        </div>
        <div class="swiper-slide">
          <a href="/sports/clippers"><img src="https://p4.wallpaperbetter.com/wallpaper/700/874/321/basketball-los-angeles-clippers-logo-nba-wallpaper-preview.jpg" style="height: 165px;width: 18em;" alt=""></a>
        </div>
        <div class="swiper-slide">
          <img src="https://wallpapers.com/images/hd/golden-state-warriors-logo-pqz9td3l5vcief7h.jpg" style="height: 165px;width: 18em;" alt="">
        </div>
        <div class="swiper-slide">
          <img src="https://i.pinimg.com/originals/85/f4/85/85f485112a526bb173807a82990e19a6.png" style="height: 165px;width: 18em;" alt="">
        </div>
        <div class="swiper-slide">
          <img src="https://wallpapers.com/images/hd/philadelphia-76ers-flag-zu8n2sqbern5peel.jpg" style="height: 165px;width: 18em;" alt="">
        </div>
        <div class="swiper-slide">
          <img src="https://w0.peakpx.com/wallpaper/834/554/HD-wallpaper-atlanta-hawks-basketball-club-nba-emblem-logo-usa-national-basketball-association-silk-flag-basketball-atlanta-georgia-us-basketball-league-southeast-division.jpg" style="height: 165px;width: 18em;" alt="">
        </div>
        <div class="swiper-slide">
          <img src="https://w0.peakpx.com/wallpaper/729/173/HD-wallpaper-milwaukee-bucks-basketball-club-nba-emblem-logo-usa-national-basketball-association-silk-flag-basketball-milwaukee-wisconsin-us-basketball-league-central-division.jpg" style="height: 165px;width: 18em;" alt="">
        </div>
        <div class="swiper-slide">
          <img src="https://wallpapers.com/images/hd/indiana-pacers-logo-flag-7rj9wehd9y351koo.jpg" style="height: 165px;width: 18em;" alt="">
        </div>
        <div class="swiper-slide">
          <img src="https://i.pinimg.com/originals/b3/0c/d6/b30cd6f1ab3dd2a095cfc4622423dd6a.png" style="height: 165px;width: 18em;" alt="">
        </div>
        <div class="swiper-slide">
          <img src="https://w0.peakpx.com/wallpaper/86/929/HD-wallpaper-dallas-mavericks-basketball-club-nba-emblem-logo-usa-national-basketball-association-silk-flag-basketball-dallas-texas-us-basketball-league-southwest-division.jpg" style="height: 165px;width: 18em;" alt="">
        </div>
        <div class="swiper-slide">
          <img src="https://w0.peakpx.com/wallpaper/48/384/HD-wallpaper-san-antonio-spurs-basketball-club-nba-emblem-new-logo-usa-national-basketball-association-silk-flag-basketball-san-antonio-texas-usa-basketball-league-southwest-division.jpg" style="height: 165px;width: 18em;" alt="">
        </div>
        <div class="swiper-slide">
          <img src="https://i.pinimg.com/originals/06/90/b0/0690b00df66057649d09d14013956a7a.png" style="height: 165px;width: 18em;" alt="">
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
  </div>
  </div> 
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper(".swiper-container", {
  slidesPerView: 2,
  slidesPerGroup: 1,
  centeredSlides: true,
  loop: true,
  navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
   breakpoints: {
    // when window width is >= 600px
    600: {
      slidesPerView: 2,
      slidesPerGroup: 2,
      spaceBetween: 5,
      centeredSlides: true
      
    },
     // when window width is >= 900px
     900: {
      slidesPerView: 3,
      slidesPerGroup: 3,
      spaceBetween: 5,
       centeredSlides: false
      
    },
    // when window width is >= 1200px
    1200: {
      slidesPerView: 4,
      slidesPerGroup: 4,
      spaceBetween: 5,
      centeredSlides: false
    },
     
     // when window width is >= 1500px
     1500: {
       slidesPerView: 5,
       slidesPerGroup: 5,
       spaceBetween: 5,
       centeredSlides: false
     },
     
     // when window width is >= 1800px
    1800: {
      slidesPerView: 6,
      slidesPerGroup: 6,
      spaceBetween: 5,
      centeredSlides: false
    }
  }
});

</script>