<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potter - Inicio</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tektur&display=swap" rel="stylesheet">
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>
</head>
<header>
    <img src="/images/logo.png" alt="logo" class="logo-pricing">
    <nav>
        <ul>
          <li><a href="/inicio" class="active">Inicio</a></li>
          <li><a href="/peliculas">Películas</a></li>
          <li><a href="/series">Series</a></li>
          <li><a href="/deportes">Deportes</a></li>
          <li><a href="/perfil">Cuenta</a></li>
          <!-- Add more navigation items as needed -->
        </ul>
      </nav>
</header>
<body>
    <div class="container" style="margin-left: 20px;">
        <p>Mas vistos</p>
      <div class="swiper-container" >
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="/movies/lucy"><img src="https://rukminim2.flixcart.com/image/416/416/l2z26q80/poster/0/j/6/small-yaa-lucy-art-effect-movie-poster-18inchx12inch-lucy-01-p-original-image72khvpg7tx9.jpeg?q=70" style="height: 165px;width: 18em;" alt=""></a>
          </div>
          <div class="swiper-slide">
            <a href="/movies/bourne"><img src="https://i0.wp.com/webadictos.com/media/2012/05/The-Bourne-Legacy-banner.jpg?fit=597%2C342&ssl=1" style="height: 165px;width: 18em;" alt=""></a>
          </div>
          <div class="swiper-slide">
            <a href="/movies/taken"><img src="https://whatsondisneyplus.com/wp-content/uploads/2022/11/taken-collection1-1024x576.png" style="height: 165px;width: 18em;" alt=""></a>
          </div>
          <div class="swiper-slide">
            <a href="/movies/mi"><img src="https://dx35vtwkllhj9.cloudfront.net/paramountpictures/mission-impossible-7/images/regions/us/share.png" alt="" style="height: 165px;width: 18em;"></a>
          </div>
          <div class="swiper-slide">
            <a href="/movies/pulpfiction"><img src="https://www.filmonpaper.com/wp-content/uploads/2014/01/PulpFiction_quad_UK-1.jpg" alt="" style="height: 165px;width: 18em;"></a>
          </div>
          <div class="swiper-slide">
            <img src="https://image.tmdb.org/t/p/w500/hwNRc9ZWrakGdql22srY7DqtmRQ.jpg" alt="">
          </div>
          
          <div class="swiper-slide">
            <img src="https://image.tmdb.org/t/p/w500/trAOGwksvgHYNpbK4GewbjYQ1pi.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://image.tmdb.org/t/p/w500/zAIippNnm6o0gYEtjapbjQSxP8G.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://image.tmdb.org/t/p/w500/tNyJxHK3m7NAAKNYITLJ5oxS0YR.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://image.tmdb.org/t/p/w500/hMh1mR2kNl8kHjpIuPh4TICTwjo.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://image.tmdb.org/t/p/w500/c4EkF5JAZ83bUqNErhuSd9xw6uJ.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://image.tmdb.org/t/p/w500/79DgItjsyH5tpA3mC2xv5gU2zlZ.jpg" alt="">
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
    </div>   
    <div class="container">
        <p>Favoritos de Colombia</p>
      <div class="swiper-container" >
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="/shows /himym"><img src="https://image.tmdb.org/t/p/w500/ba7hnMx1HAze0QSJSNfsTBycS8U.jpg" alt="" style="height: 165px;width: 18em;"></a>
          </div>
          <div class="swiper-slide">
            <a href="/shows/gambit"><img src="https://image.tmdb.org/t/p/w500/c3XBgBLzB9Sh7k7ewXY2QpfH47L.jpg" alt=""></a>
          </div>
          <div class="swiper-slide">
            <a href="/shows/bb"><img src="https://image.tmdb.org/t/p/w500/b5rOkbQ0jKYvBqBf3bwJ6nXBOtx.jpg" alt=""></a>
          </div>
          <div class="swiper-slide">
            <a href="/shows/brooklyn"><img src="https://image.tmdb.org/t/p/w500/aNsrgElf0fiKBSR8cWWEL6XUTte.jpg" alt="" style="height: 165px;width: 18em;"></a>
          </div>
          <div class="swiper-slide">
            <img src="https://sportshub.cbsistatic.com/i/2022/12/21/762b1087-dece-43b4-94e0-94ae13069e71/spider-man-across-the-spider-verse-international-poster-header.jpg" alt="" style="height: 165px;width: 18em;">
          </div>
          <div class="swiper-slide">
            <img src="https://image.tmdb.org/t/p/w500/hwNRc9ZWrakGdql22srY7DqtmRQ.jpg" alt="">
          </div>
          
          <div class="swiper-slide">
            <img src="https://image.tmdb.org/t/p/w500/trAOGwksvgHYNpbK4GewbjYQ1pi.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://image.tmdb.org/t/p/w500/zAIippNnm6o0gYEtjapbjQSxP8G.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://image.tmdb.org/t/p/w500/tNyJxHK3m7NAAKNYITLJ5oxS0YR.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://image.tmdb.org/t/p/w500/hMh1mR2kNl8kHjpIuPh4TICTwjo.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://image.tmdb.org/t/p/w500/c4EkF5JAZ83bUqNErhuSd9xw6uJ.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://image.tmdb.org/t/p/w500/79DgItjsyH5tpA3mC2xv5gU2zlZ.jpg" alt="">
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
    </div>    
    <div class="container">
        <p>Popular en Ingenieria de Sistemas</p>
      <div class="swiper-container" >
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="/enigma"><img src="https://wallpapercave.com/wp/wp3694366.jpg" alt="" style="height: 165px;width: 18em;"></a>
          </div>
          <div class="swiper-slide">
            <a href="/movies/tron"><img src="https://pbs.twimg.com/media/EG2CwQ0UYAIXWAs.jpg" alt="" style="height: 165px;width: 18em;"></a>
          </div>
          <div class="swiper-slide">
            <a href="/shows/mrrobot"><img src="https://flxt.tmsimg.com/assets/p11682476_b_h8_ae.jpg" alt="" style="height: 165px;width: 18em;"></a>
          </div>
          <div class="swiper-slide">
            <a href="/naruto"><img src="https://larepublica.cronosmedia.glr.pe/migration/images/2CW66MDPGFDGTNM26URIZ2HOOA.jpg" alt="" style="height: 165px;width: 18em;"></a>
          </div>
          <div class="swiper-slide">
            <img src="https://image.tmdb.org/t/p/w500/dueiWzWc81UAgnbDAyH4Gjqnh4n.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://image.tmdb.org/t/p/w500/hwNRc9ZWrakGdql22srY7DqtmRQ.jpg" alt="">
          </div>
          
          <div class="swiper-slide">
            <img src="https://image.tmdb.org/t/p/w500/trAOGwksvgHYNpbK4GewbjYQ1pi.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://image.tmdb.org/t/p/w500/zAIippNnm6o0gYEtjapbjQSxP8G.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://image.tmdb.org/t/p/w500/tNyJxHK3m7NAAKNYITLJ5oxS0YR.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://image.tmdb.org/t/p/w500/hMh1mR2kNl8kHjpIuPh4TICTwjo.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://image.tmdb.org/t/p/w500/c4EkF5JAZ83bUqNErhuSd9xw6uJ.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://image.tmdb.org/t/p/w500/79DgItjsyH5tpA3mC2xv5gU2zlZ.jpg" alt="">
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
    </div>     
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper(".swiper-container", {
  slidesPerView: 2,
  slidesPerGroup: 1,
  centeredSlides: true,
  loop: true,
  navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
   breakpoints: {
    // when window width is >= 600px
    600: {
      slidesPerView: 2,
      slidesPerGroup: 2,
      spaceBetween: 5,
      centeredSlides: true
      
    },
     // when window width is >= 900px
     900: {
      slidesPerView: 3,
      slidesPerGroup: 3,
      spaceBetween: 5,
       centeredSlides: false
      
    },
    // when window width is >= 1200px
    1200: {
      slidesPerView: 4,
      slidesPerGroup: 4,
      spaceBetween: 5,
      centeredSlides: false
    },
     
     // when window width is >= 1500px
     1500: {
       slidesPerView: 5,
       slidesPerGroup: 5,
       spaceBetween: 5,
       centeredSlides: false
     },
     
     // when window width is >= 1800px
    1800: {
      slidesPerView: 6,
      slidesPerGroup: 6,
      spaceBetween: 5,
      centeredSlides: false
    }
  }
});

</script>