body{
  background-color: #011522;
}

.input {
    display: flex;
    margin-top: 3%;
    margin-left: 10%;
    flex-direction: column;
    width: 300px;
    background-color: #424346;
    justify-content: center;
    border-radius: 5px
  }
  
  .value {
    background-color: transparent;
    border: 2px;
    border-color: white;
    padding: 30px;
    color: white;
    display: flex;
    position: relative;
    gap: 5px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
  }
  
  .value:not(:active):hover,
  .value:focus {
    background-color: #21262C;
  }
  
  .value:focus,
  .value:active {
    background-color: #1A1F24;
    outline: none;
  }
  
  .value::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -10px;
    width: 5px;
    height: 80%;
    background-color: #2F81F7;
    border-radius: 5px;
    opacity: 0;
  }
  
  .value:focus::before,
  .value:active::before {
    opacity: 1;
  }
  
  .value svg {
    width: 15px
  }
  
  .input:hover > :not(.value:hover) {
    transition: 300ms;
    filter: blur(1px);
    transform: scale(0.95,0.95);
  }

  header {
    margin: 40px;
    margin-bottom: 40px;
    display: flex;
  }

.logo-pricing {
    max-width: 100px;
  }

  nav {
    text-align: center;
    margin-left: 50%;
    font-family: 'Tektur', cursive;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    
  }

  nav a:hover {
    color: rgb(0, 217, 255);
  }

  .info{
    background-color: #424346;
    border-radius: 8px;
    margin-top: 3%;
    margin-left: 4%;
    color: white;
    font-family: 'Kanit', sans-serif;
  }

  .info-content{
    margin-top: 10%;
    margin-left: 8%;
  }

  .billing{
    margin-top: 3em;
    margin-left: 4em;
  }

  .info-content label{
    font-size: 22px;
    font-weight: bolder;
  }

  .right{
    margin-left: 30px;
  }

  .info-content input{
    height: 35px;
    width: 280px;
    color: white;
    background-color: #7c7c7c;
    border-radius: 5px;
    margin-left: 1em;
    font-size: 16px;
  }
  .active {
    text-decoration: underline rgb(0, 217, 255);
    text-underline-offset: 6px; 
  }

  .row{
    margin-top: 15px;
  }

  .flip-card {
    background-color: transparent;
    width: 500px;
    height: 300px;
    perspective: 1000px;
    color: white;
  }
  
  .heading_8264 {
    position: absolute;
    letter-spacing: .2em;
    font-size: 1.4em;
    top: 0em;
    left: 7.6em;
  }
  
  .logo {
    position: absolute;
    top: 6.8em;
    left: 15.7em;
    width: 50px;
    height: 40px;
  }
  
  .chip {
    position: absolute;
    top: 3em;
    left: 1.5em;
    width: 50px;
    height: 40px;
  }
  
  .contactless {
    position: absolute;
    top: 3.5em;
    left: 15.7em;
    width: 50px;
    height: 40px;
  }
  
  .number {
    position: absolute;
    font-weight: bold;
    font-size: 1.2em;
    top: 4.3em;
    left: 1.6em;
  }
  
  .valid_thru {
    position: absolute;
    font-weight: bold;
    top: 11.5em;
    font-size: 0.7em;
    left: 2.3em;
  }
  
  .date_8264 {
    position: absolute;
    font-weight: bold;
    font-size: 1em;
    top: 8.6em;
    left: 2em;
  }
  
  .name {
    position: absolute;
    font-weight: bold;
    font-size: 1em;
    top: 12.1em;
    left: 1.7em;
  }
  
  .strip {
    position: absolute;
    background-color: black;
    width: 15em;
    height: 1.5em;
    top: 2.4em;
    background: repeating-linear-gradient(
      45deg,
      #303030,
      #303030 10px,
      #202020 10px,
      #202020 20px
    );
  }
  
  .mstrip {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 8em;
    height: 0.8em;
    top: 5em;
    left: .8em;
    border-radius: 2.5px;
  }
  
  .sstrip {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 4.1em;
    height: 0.8em;
    top: 5em;
    left: 10em;
    border-radius: 2.5px;
  }
  
  .code {
    font-weight: bold;
    text-align: center;
    margin: .2em;
    color: black;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
  }
  
  .flip-card-front {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-color: #171717;
  }
  
  .flip-card-back {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-color: #171717;
    transform: rotateY(180deg);
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 260px;
    padding: 20px 1px;
    left: 35px;
    text-align: center;
    position: relative;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    border-radius: 10px;
    background-color: #171717;
  }
  
  .content {
    padding: 20px;
  }
  
  .content .price {
    color: white;
    font-weight: 800;
    font-size: 40px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
  }
  
  .content .description {
    color: rgba(255, 255, 255, 0.6);
    margin-top: 10px;
    font-size: 14px;
  }
  
  .content .title {
    font-weight: 800;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.64);
    margin-top: 10px;
    font-size: 25px;
    letter-spacing: 1px;
  }

  .flag{
    width: 30%;
    height: 10em;
    margin: 15px;
  }

  .access h1{
    margin-top: 5%;
    margin-left: 5%;
  }