:root {
  --swiper-theme-color: #e5e5e5 !important;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  background: #141414;
  font-family: 'Roboto', sans-serif;
  color: #e5e5e5;
  overflow-x: hidden;
}

.active {
  text-decoration: underline rgb(0, 217, 255);
  text-underline-offset: 6px; 
}

.container {
  margin-top: 4rem;
}

.swiper-container {
  overflow: visible;
}


p {
  font-size: 20px;
  font-weight: 500;
}
.swiper-slide {
  transition: all 300ms ease-in-out;
  border-radius: 5px;
}

.swiper-slide img {
  border-radius: 5px;
  max-width: 18rem;
  cursor: grab;
}

.swiper-slide img:active {
  cursor: grabbing;
}

.swiper-slide:hover {
  transform: scale(1.5);
  transition: all 300ms ease-in-out;
  transition-delay: 300ms;
  z-index: 1;
}

.swiper-slide:hover img {
  transition-delay: 300ms;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
}

@media screen and (max-width: 599px) {
  .swiper-slide img {
    max-width: 14rem;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .swiper-slide img {
    max-width: 10.5rem;
    border-radius: 2px;
  }
}
header {
    margin: 40px;
    margin-bottom: 40px;
    display: flex;
  }

.logo-pricing {
    max-width: 100px;
  }

  nav {
    font-family: 'Tektur', cursive;
    text-align: center;
    margin-left: 50%;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
  }

  nav a:hover {
    color: rgb(0, 217, 255);
  }